{% extends 'matching/base.html' %}

{% block content %}

<div id="div_join_screen">
    <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
    ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
    <form action="" onsubmit="onsubmitButton_JoinChat(); return false;" style="text-align: center; width: 100%;">
        チャットルーム名：<br />
        <input type="text" id="input_roomname" placeholder="Enter Room name"><br />
        <input type="submit" value="Join Chat" />
    </form>
</div>

<div id="div_chat_screen">
    チャット画面です
    <form action="" onsubmit="onsubmitButton_Send(); return false;">
       ユーザーID:{{data}}<br>
       ルーム名：<input type="text" id="text_roomname" readonly="readonly"><br />
        <input type="hidden" id="text_username" value={{data}}>
        <br>
        メッセージ入力欄
        <br>
        <input type="text" id="input_message" autocomplete="off" autofocus /><input type="submit" value="Send" />
        <br>
        <button onclick="onclickButton_LeaveChat()">Leave Chat.</button><br />
    </form>
</div>
<ul id="list_message"></ul>

<script>
        const g_elementTextUserName = document.getElementById( "text_username" );
        const g_elementInputMessage = document.getElementById( "input_message" );
        const g_elementListMessage = document.getElementById( "list_message" );
        const g_elementInputRoomName = document.getElementById( "input_roomname" ); 
        const g_elementTextRoomName = document.getElementById( "text_roomname" );
        const g_elementDivJoinScreen = document.getElementById( "div_join_screen" );
        const g_elementDivChatScreen = document.getElementById( "div_chat_screen" );
        document.getElementById("div_chat_screen").style.display ="none";

        // WebSocketオブジェクト
        // 現在のプロトコルがhttpsならwss,httpならwsを指定する
        let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const g_socket = new WebSocket( ws_scheme + "://" + window.location.host + "/ws/matching/" );
        
        // 「Join」ボタンを押すと呼ばれる関数
        function onsubmitButton_JoinChat()
        {
            // ユーザー名
            let strInputUserName = g_elementTextUserName.value;
            if( !strInputUserName )
            {
                return;
            }
            g_elementTextUserName.value = strInputUserName;

            // ルーム名
            let strInputRoomName = g_elementInputRoomName.value;
            g_elementTextRoomName.value = strInputRoomName;

            // サーバーに"join"を送信
            g_socket.send( JSON.stringify( { "data_type": "join", "username": strInputUserName, "roomname": strInputRoomName } ) );

            // 画面の切り替え
            g_elementDivJoinScreen.style.display = "none";  // 参加画面の非表示
            g_elementDivChatScreen.style.display = "block";  // チャット画面の表示
        }
        
        // 「Leave Chat.」ボタンを押すと呼ばれる関数
        function onclickButton_LeaveChat()
        {
            // メッセージリストのクリア
            while( g_elementListMessage.firstChild )
            {
                g_elementListMessage.removeChild( g_elementListMessage.firstChild );
            }

            // ユーザー名
             // g_elementTextUserName.value = "";

            // サーバーに"leave"を送信
            g_socket.send( JSON.stringify( { "data_type": "leave" } ) );

            // 画面の切り替え
            g_elementDivChatScreen.style.display = "none";  // チャット画面の非表示
            g_elementDivJoinScreen.style.display = "flex";  // 参加画面の表示
        }

        // 「Send」ボタンを押したときの処理
        function onsubmitButton_Send()
        {   

            let strInputUserName = g_elementTextUserName.value;
            if( !strInputUserName )
            {
                return;
            }
            g_elementTextUserName.value = strInputUserName;

            // サーバーに"join"を送信
            //g_socket.send( JSON.stringify( { "data_type": "join", "username": strInputUserName } ) );

            // 送信用テキストHTML要素からメッセージ文字列の取得
            let strMessage = g_elementInputMessage.value;
            if( !strMessage )
            {
                return;
            }

            // WebSocketを通したメッセージの送信
            g_socket.send( JSON.stringify( { "message": strMessage } ) );

            // 送信用テキストHTML要素の中身のクリア
            g_elementInputMessage.value = "";
        }

        // WebSocketからメッセージ受信時の処理
        g_socket.onmessage = ( event ) =>
        {
            // テキストデータをJSONデータにデコード
            let data = JSON.parse( event.data );

            // メッセージの整形
            // let strMessage = data["message"];
            let strMessage = data["datetime"] + " - [" + data["username"] + "] " + data["message"];

            // 拡散されたメッセージをメッセージリストに追加
            let elementLi = document.createElement( "li" );
            elementLi.textContent = strMessage;
            g_elementListMessage.prepend( elementLi ); // リストの一番上に追加
            //g_elementListMessage.append( elementLi );    // リストの一番下に追加
        };

        // WebSocketクローズ時の処理
        g_socket.onclose = ( event ) =>
        {
            // ウェブページを閉じたとき以外のWebSocketクローズは想定外
            console.error( "Unexpected : Chat socket closed." );
        };
    </script>



{% endblock %}