{% extends 'matching/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <form action="/login_success/" method="post" class="login-form">
        <p class="login-text">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
            </span>
        </p>
        {{ form.as_p }}
        <input type="submit" value="login" class="login-submit">
        <input type="button" onclick="location.href='/create_account'" value="create account"  name = "create" class="login-submit">
        {% csrf_token %}
    </form>
    <div class="underlay-black"></div> 
{% endblock %}