{% extends 'matching/base.html' %}

{% block content %}
    ようこそ{{data.user_name}}さん
    <br>
    ユーザー名:{{data.user_name}}
    ユーザーID:{{data.user_id}}<br>
    <input type="button" onclick="location.href='/chat'" value="チャット画面">
    <input type="button" onclick="location.href='/logout'" value="ログアウト画面">
    <input type="button" onclick="location.href='/profile'" value="プロフィール画面">
    <input type="button" onclick="location.href='/user_list'" value="ユーザー一覧画面">
    <input type="button" onclick="location.href='/like_list'" value="いいね一覧画面">
{% endblock %}