.viewport {
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
}
.flipsnap {
    width: 1050px; /* 320px(item) * 3(item count) */
}
.item {
    float: left;
    width: 210px;
    font-size: 50px;
    text-align: center;
    padding:inherit;
    background: #EFEFEF;
    border: 5px solid #999;
    color: #666;
    cursor: pointer;
}

.prof_img {
    width : 200px ;
    height: 200px ;
}

.img-wrap {
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
}